.container-fluid{
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
#Contacte{
    background-color: lightblue;
    padding: 25px;
    margin-top: 50px;
}
.container-con{
    max-width: 1100px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
